/* IMPORTANT:  use unique CSS class name to avoid confliction with other extensions or applications. */

/* For example, adding the extension id as prefix of CSS class name. */

.sap_viz_ext_extendedbarchart_v-m-plot rect.bar {
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 0.3
}
.sap_viz_ext_extendedbarchart_x_axis path,
.sap_viz_ext_extendedbarchart_y_axis path,
.sap_viz_ext_extendedbarchart_x_axis line,
.sap_viz_ext_extendedbarchart_y_axis line{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.sap_viz_ext_extendedbarchart_x_axis text,
.sap_viz_ext_extendedbarchart_y_axis text{
    font-size: 12px;
}

.sap_viz_ext_extendedbarchart_x_axis > text,
.sap_viz_ext_extendedbarchart_y_axis > text{
    font-size: 16px;
    font-weight: bold;
}