/* IMPORTANT:  use unique CSS class name to avoid confliction with other extensions or applications. */

/* For example, adding the extension id as prefix of CSS class name. */

.sap_viz_ext_footballheatmap_v-m-plot rect.bar {
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 0.3
}
.sap_viz_ext_footballheatmap_divCSS {
    position: absolute;
    stroke: white;
    fill: none;
}
.sap_viz_ext_footballheatmap_lines {
    position: absolute;
    stroke: white;
    fill: none;
}