/* IMPORTANT:  use unique CSS class name to avoid confliction with other extensions or applications. */

/* For example, adding the extension id as prefix of CSS class name. */

.sap_viz_ext_chord.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .5px;
}